[user]
	name = Dundar Göc
	email = gocdundar@gmail.com
[alias]
	plog = log --graph --pretty=format:'%h -%d %s %n' --abbrev-commit --date=relative --branches
	nuke = "!sh -c \"git checkout $1 && git fetch --all && git reset --hard origin/$1  && git clean -df && git submodule update --init --recursive\" -"
	bisect-all = !git bisect start && git bisect bad && git bisect good $(git rev-list --max-parents=0 --first-parent HEAD)
	upstream = !git fetch upstream && git reset --hard upstream/$(git branch --show-current)
	uncommit = reset --hard HEAD~
	back = reset HEAD~
	ri = "!sh -c 't=\"${1:-master}\"; s=\"${2:-HEAD}\"; mb=\"$(git merge-base \"$t\" \"$s\")\"; if test \"x$mb\" = x ; then o=\"$t\"; else lm=\"$(git log -n1 --merges \"$t..$s\" --pretty=%H)\"; if test \"x$lm\" = x ; then o=\"$mb\"; else o=\"$lm\"; fi; fi; test $# -gt 0 && shift; test $# -gt 0 && shift; git rebase --interactive \"$o\" \"$@\"'"

 # Interactive fixup with fzf
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

  # Interactive rebase with fzf
  irebase = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git rebase -i"
[merge]
	tool = meld
[rerere]
	enabled = true
	autoupdate = true
[core]
	excludesfile = /home/dundar/.gitignore_global
	#hooksPath = /home/dundar/.dotfiles/.githooks
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
[advice]
	detachedHead = false
